* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 246, 249);
    -webkit-tap-highlight-color: transparent;
}

.wrapper {
    width: 90%;
    margin: 1em auto;
    max-width: 80em;
}

.container {
    width: 100%;
}

.subcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Ajuste aquí */
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container input[type=text] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 0;
    resize: vertical;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Navbar Menu */

header {
    position: relative;
}

.navbar {
    background-color: #406E8E;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
}

.navbar .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 2rem;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 1rem;
}

.navbar ul li a {
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
}

.navbar ul li a:hover {
    background-color: #253d51;
    transition: 0.5s;
}

.navbar .toggle-menu {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* Category Section */
.category {
    background-color: #c1d2de;
    padding: 1.25em 0.9em;
    box-shadow: 0 0.6em 1.2em rgb(220, 226, 228);
    margin-bottom: 20px;
}

.category h2 {
    text-align: center;
}

.category label {
    display: block;
    margin-bottom: 0.5em;
}

.category input[type=text] {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.category button {
    width: 100%;
    padding: 0.75em;
    background-color: #406E8E;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.category button:hover {
    background-color: #253d51;
}
/* Expense Section */
.expense {
    background-color: #c1d2de;
    padding: 1.25em 0.9em;
    box-shadow: 0 0.6em 1.2em rgb(220, 226, 228);
    margin-bottom: 20px;
}

.expense h2 {
    text-align: center;
}

.expense label {
    display: block;
    margin-bottom: 0.5em;
}

.expense input[type=text],
.expense select {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.expense button {
    width: 100%;
    padding: 0.75em;
    background-color: #406E8E;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.expense button:hover {
    background-color: #253d51;
}

/* Budget Section */
.budget, .important-amounts-labels {
    background-color: #c1d2de;
    padding: 1.25em 0.9em;
    box-shadow: 0 0.6em 1.2em rgb(220, 226, 228);
    margin-bottom: 20px;
}

.submit {
    background-color: #406E8E;
    border-radius: 3px;
    border: none;
    width: 100%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

div.budget > h3 {
    text-align: left;
}

/* History Expenses Section */
.important-amounts-labels p {
    font-weight: 500;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.important-amounts-labels span {
    display: block;
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.category-list-sumary {
    background-color: #ffffff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
}

.category-list-sumarysublist-content {
    width: 100%;
    border-left: 0.3em solid #587ef4;
    padding: 0.5em 1em;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
    margin-bottom: 0.6em; /* Espacio entre filas */
}

.category-list-sumarysublist-content:nth-child(odd) {
    background-color: #f2f6f9; /* Color de fondo para las filas impares */
}

.category-list-sumarysublist-content:nth-child(even) {
    background-color: #e5e9ec; /* Color de fondo para las filas pares */
}

.category-list-sumarysublist-content + .category-list-sumarysublist-content {
    margin-top: 1em; /* Espacio adicional entre filas */
}

.error {
    color: #ff465a;
}
.edit {
    margin-left: auto;
}
.edit,
.delete {
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #587ef4;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .wrapper {
        font-size: 14px;
    }
    .subcontainer {
        grid-template-columns: 1fr;
        gap: 1em;
    }
    .navbar .links {
        display: none; /* Oculta los enlaces del menú por defecto */
        position: absolute;
        top: 80px; /* Ajuste basado en la altura del navbar */
        left: 0;
        background-color: #406E8E;
        width: 100%;
        flex-direction: column;
    }

    .navbar.active .links {
        display: flex; /* Muestra los enlaces del menú cuando la clase .active está presente */
    }

    .navbar ul li {
        margin: 1rem 0;
    }
    .navbar .toggle-menu {
        display: block;
    }
}