* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 246, 249);
    -webkit-tap-highlight-color: transparent;
}

.wrapper {
    width: 90%;
    margin: 1em auto;
    max-width: 80em;
}

.container {
    width: 100%;
}

.subcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Ajuste aquí */
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container input[type=text] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 0;
    resize: vertical;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Navbar Menu */

header {
    position: relative;
}

.navbar {
    background-color: #406E8E;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
}

.navbar .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 2rem;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 1rem;
}

.navbar ul li a {
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
}

.navbar ul li a:hover {
    background-color: #253d51;
    transition: 0.5s;
}

.navbar .toggle-menu {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* Category Section */
.category {
    background-color: #c1d2de;
    padding: 1.25em 0.9em;
    box-shadow: 0 0.6em 1.2em rgb(220, 226, 228);
    margin-bottom: 20px;
}

.category h2 {
    text-align: center;
}

.category label {
    display: block;
    margin-bottom: 0.5em;
}

.category input[type=text], [type=date]{
    width: 100%;
    padding: 0.75em;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.category button {
    width: 100%;
    padding: 0.75em;
    background-color: #406E8E;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.category button:hover {
    background-color: #253d51;
}

/* Category List Summary */
.category-list-summary {
    padding: 1.25em 0.9em;
    box-shadow: 0 0.6em 1.2em rgb(220, 226, 228);
    margin-bottom: 20px;
}

#category-table thead {
    background-color: #406E8E; /* Fondo de la cabecera de la tabla de categorías, igual que expense table */
    color: white;
}

#category-table tbody tr:nth-child(odd) {
    background-color: #f2f6f9; /* Igual que el fondo de las filas impares en expense table */
}

#category-table tbody tr:nth-child(even) {
    background-color: #e5e9ec; /* Igual que el fondo de las filas pares en expense table */
}


#category-table {
    width: 100%;
    border-collapse: collapse;
}


#category-table th, #category-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#category-table th {
    background-color: #253d51;
}


#category-table td {
    vertical-align: middle;
}

/* Estilo de los botones en la tabla de categorías */
#category-table button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2em; /* Ajusta el tamaño del icono según sea necesario */
}

/* Expense Section */
.expense {
    background-color: #c1d2de;
    padding: 1.25em 0.9em;
    box-shadow: 0 0.6em 1.2em rgb(220, 226, 228);
    margin-bottom: 20px;
}

.expense h2 {
    text-align: center;
}

.expense label {
    display: block;
    margin-bottom: 0.5em;
}

.expense input[type=text],
.expense select {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.expense button {
    width: 100%;
    padding: 0.75em;
    background-color: #406E8E;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.expense button:hover {
    background-color: #253d51;
}

.sumary-table {
    
    padding: 1.25em 0.9em;
    box-shadow: 0 0.6em 1.2em rgb(220, 226, 228);
    margin-bottom: 20px;
}

#expense-table {
    width: 100%;
    border-collapse: collapse;
}

#expense-table thead {
    background-color: #406E8E;
    color: white;
}

#expense-table th, #expense-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center; 
}
#expense-table th {
    background-color: #253d51;
}

#expense-table tbody tr:nth-child(odd) {
    background-color: #f2f6f9;
}

#expense-table tbody tr:nth-child(even) {
    background-color: #e5e9ec;
}

#expense-table td {
    vertical-align: middle;
}


#expense-table-sumary {
    width: 100%;
    border-collapse: collapse;
}

#expense-table-sumary thead {
    background-color: #406E8E;
    color: white;
}

#expense-table-sumary th, #expense-table-sumary td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center; 
}
#expense-table-sumary th {
    background-color: #253d51;
}

#expense-table-sumary tbody tr:nth-child(odd) {
    background-color: #f2f6f9;
}

#expense-table-sumary tbody tr:nth-child(even) {
    background-color: #e5e9ec;
}

#expense-table-sumary td {
    vertical-align: middle;
}

/* Budget Section */
.budget, .important-amounts-budget {
    background-color: #c1d2de;
    padding: 1.25em 0.9em;
    box-shadow: 0 0.6em 1.2em rgb(122, 129, 131);
    margin-bottom: 20px;
}
.important-amounts-budget p {
    font-weight: 500;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-size: 20px;
}

.important-amounts-budget span {
    display: block;
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-size: 20px;
}
.submit {
    background-color: #406E8E;
    border-radius: 3px;
    border: none;
    width: 100%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

div.budget > h3 {
    text-align: left;
}
.budget input[type=text],
.budget select {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* History Expenses Section */
.important-amounts-labels {
    display: grid;
    grid-template-columns: 1fr; /* Una columna de igual tamaño */
    grid-template-rows: repeat(3, auto); /* Tres filas con altura automática */
    gap: 10px; /* Espacio entre las filas */
    background-color: #c1d2de;
    padding: 1.25em 0.9em;
    box-shadow: 0 0.6em 1.2em rgb(220, 226, 228);
    margin-bottom: 20px;
}

.important-amounts-labels > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.important-amounts-labels p {
    font-weight: 700;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    text-align: center;
    font-size: 20px;
}

.important-amounts-labels span {
    display: block;
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-size: 20px;
}





.error {
    color: #ff465a;
}
.edit {
    margin-left: auto;
}
.edit,
.delete {
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #587ef4;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .wrapper {
        font-size: 14px;
    }
    .subcontainer {
        grid-template-columns: 1fr;
        gap: 1em;
    }
    .navbar .links {
        display: none; 
        position: absolute;
        top: 80px; 
        left: 0;
        background-color: #406E8E;
        width: 100%;
        flex-direction: column;
    }

    .navbar.active .links {
        display: flex; 
    }

    .navbar ul li {
        margin: 1rem 0;
    }
    .navbar .toggle-menu {
        display: block;
    }
}